# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.env.production.local

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*~

# typescript
*.tsbuildinfo

# misc
app-example
.cache/
.watchman*

# generated native folders
/ios
/android
//ewafhewa